p {
  color:blue;
}
#richard-roll {
  color:blue;
  font-size:20px;
  text-decoration:underline;
}
.hidden-text {
  display: none;
}
.visible-text {
    display: block; /* Use 'inline', 'inline-block', etc., depending on desired layout */
    margin-top: 10px;
    color: green;
}
/*--#richard-roll:hover {
  color:lightblue;
  font-size:35px;
}--*/
