p {
  color:blue;
}
#richard-roll {
  color:blue;
  font-size:20px;
  text-decoration:underline;
}
.hidden-text {
  display: none;
}
/*--#richard-roll:hover {
  color:lightblue;
  font-size:35px;
}--*/
